---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

export const prerender = true;

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return { params: { tag }, props: { posts: filteredPosts } };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogPost url={post.slug} title={post.data.title} />)}
  </ul>
</Layout>
