---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = true;
const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";
---

<Layout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.slug} title={post.data.title} />
      ))
    }
  </ul>
</Layout>
