---
import Layout from "../layouts/Layout.astro";
const pageTitle = "My Astro Learning Blog";
---

<Layout pageTitle="Welcome to Astro.">
  <main>
    <h1>{pageTitle}</h1>
    <p>This is where I will post about my journey learning Astro.</p>
  </main>
</Layout>
