---
import Social from "../components/Social.astro";
---

<footer class="flex flex-col items-center mt-12 gap-4 mb-4">
   <div class="flex gap-4">
  <Social platform="twitter" username="yokoiwasaki6" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="@user-mu2nn6nt6e" />
  </div>
</footer>
