---
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
---

<header>
  <nav class="flex flex-row-reverse">
    <Hamburger />
    <Navigation />
  </nav>
</header>
