---
import Footer from "./Footer.astro";
import "../styles/global.css";
import Header from "./Header.astro"

import { SEO_INFO } from '../consts';
const { pageTitle } = Astro.props;

type Props = { pageTitle: string };

---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {SEO_INFO.map((tag) => <meta name={tag.name} content={tag.content} />)}
    <meta name=”twitter:card” content=”summary”>
    <meta name=”twitter:image” content=”https://www.zama-musicartist.info/images/top2.jpg”>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body class="min-h-screen bg-slate-50 dark:bg-slate-800 mx-auto max-w-5xl px-3">
    <Header isSticky />
    <div class="grow">
      <slot />
    </div>
      <Footer />
    <script>
      import '../load-gallery.js';
      import "../scripts/menu.js";
    </script>
  </body>
</html>
