---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import "../styles/global.css";
import { SEO_INFO } from '../consts';
const { pageTitle } = Astro.props;

type Props = { pageTitle: string };

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {SEO_INFO.map((tag) => <meta name={tag.name} content={tag.content} />)}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-slate-50 dark:bg-slate-800 mx-auto">
    <Header />
      <slot />
      <Footer />
    <script>
      import '../load-gallery.js';
      import "../scripts/menu.js";
    </script>
  </body>
</html>
